version: "3.9"

services:
  api:
    image: ppllus-backend:1.0
    container_name: ppllus-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    restart: always

  postgres:
    image: postgres:15
    container_name: ppllus-postgres
    environment:
      POSTGRES_DB: ppllus_wallet
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:7
    container_name: ppllus-redis
    ports:
      - "6379:6379"
    restart: always

volumes:
  pgdata:
